 .search {
	width: 100%;
	line-height: 34px;
	font-size: 16px;
	overflow: hidden;
	padding-top: 13px;
}

 .search span {
	float: left;
	color: #333;
}

 .search span.title {
	margin: auto 20px auto 14px;
}

 .search img {
	float: left;
	margin: 9px 9px 0;
}

 .search input {
	float: left;
	width: 220px;
	height: 34px;
	line-height: 34px;
	border: 1px solid #e5e5e5;
	text-indent: 18px;
}

 .search input.companyname {
	margin: 0 4px 0 36px;
}

 .search input.searchbtn {
	width: 104px;
	height: 36px;
	line-height: 36px;
	text-align: center;
	text-indent: 0;
	color: #fff;
	background: #2794ef;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
	cursor: pointer;
}

 .search .clear-search {
	background: url(../images/special-delete.png) no-repeat left center;
	text-indent: 20px;
	color: #ef5b2e;
	margin-left: 16px;
	cursor: pointer;
}

 .hot-search {
	padding-left: 98px;
	color: #999;
	font-size: 16px;
	line-height: 46px;
	margin-bottom: 10px;
}

 .hot-search span {
	color: #5d5d5d;
	margin: 0 14px 0 36px;
	cursor: pointer;
}
