@CHARSET "UTF-8";
/* CSS Document */
body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h5,h6,pre,form,fieldset,input,textarea,p,blockquote,th,td{ margin:0px;padding:0;word-wrap: break-word; word-break:break-all;}
table{border-collapse:collapse;border-spacing:0;}
fieldset,img{border:0;}
address,caption,cite,code,dfn,em,strong,th,var{ font-style:normal; font-weight:normal;}
ol,ul{ list-style:none;}
caption,th{ text-align:left;}
h1,h2,h3,h4,h5,h6{ font-size:100%; font-weight:normal;}
q:before,q:after{content:''}
abbr,acronym{border:0;}
body{color:#3f3f3f;background:#EBEBED;font-family:"微软雅黑";}
*{outline:none;}
.w1002{ margin:0px auto; width:1002px;}
li:hover{background-color:#e6e6e6;cursor: pointer;}
/*背景颜色*/
.bg-cOrange{background:#ec6110;}
.bg-cWhite{ background:#fff;}
.bg-cGray{ background:#f6f6f6;}
.bg-cBlue{ background:#3295f2;}

/*边框颜色*/
.br-cGray{ border:solid 1px #d9d9d9;}
/*文字排版*/
.ft-12{ font-size:12px;}
.ft-14{ font-size:14px;}
.ft-16{ font-size:16px;}
.ft-18{ font-size:18px;}
.ft-24{ font-size:24px;}
.ft-bold{ font-weight:bold;}
.ft-normal{ font-weight:normal;}
.fn-wryh{ font-family:"微软雅黑";}
.fn-em2{text-indent:2em;}
.fn-unl{text-decoration:underline;}
.fn-nounl{text-decoration:none;}

/*定位*/
.fn-tl{text-align:left;}
.fn-tc{text-align:center;}
.fn-tr{text-align:right;}
.fn-fl{float:left;dispaly:inline;}
.fn-fr{float:right;display:inline;}
.clearfix:after {content:"\200B"; display:block; height:0; clear:both;}
.clearfix{ *zoom:1; }
.fn-vm{vertical-align:middle;}
.fn-re{position:relative;}
.fn-abs{position:absolute;}
.fn-abs-right{position:absolute;right:0;}
.fn-hide{display:none;}

/*长度高度*/
.w990{width:990px; margin:0px auto;}

/*边距*/
.fn-m0{ margin:0x auto;}
.fn-m10{margin:10px;}
.fn-ml5{margin-left:5px;}
.fn-ml10{margin-left:10px;}
.fn-ml20{margin-left:20px;}
.fn-mr5{margin-right:5px;}
.fn-mr10{margin-right:10px;}
.fn-mb5{margin-bottom:5px;}
.fn-mb10{margin-bottom:10px;}
.fn-mt5{margin-top:5px;}
.fn-mt10{margin-top:10px;}
.fn-mt20{margin-top:20px;}
.fn-mb20{margin-bottom:20px;}

.fn-p10{padding:10px;}
.fn-p20{padding:20px;}
.fn-pl5{padding-left:5px;}
.fn-pl10{padding-left:10px;}
.fn-pl15{padding-left:15px;}
.fn-pr5{padding-right:5px;}
.fn-pr10{padding-right:10px;}
.fn-pb5{padding-bottom:5px;}
.fn-pb10{padding-bottom:10px;}
.fn-pt5{padding-top:5px;}
.fn-pt10{padding-top:10px;}
/*字体颜色*/
.fn-cWhite{color: #f8feff;}
.fn-cBlue{color:#1560ea;}
.fn-cRed{ color:#ff0000;}
.fn-cGray6{color: #666;}
.fn-cGray3{color:#3f3f3f;}
.fn-cGray9{color:#999;}
.fn-cOrange{color:#ec6110;}
.fn-cGreen{color:#86c420;}

.fn-pointer{ cursor:pointer;}
.fn-nobg{ background:none;}
.fn-noborder{border:none;}
.fn-inlineB{ display:inline-block;}
.fn-overflowH{ overflow:hidden;}
/*areaSelect*/
.area-tab span{display:inline-block;width:100%;height:100%;}
.area-tab{border:1px solid #ccc; position:absolute; background-color:#fff; width:272px; z-index:9999; font:normal 13px Tahoma,Arial,"宋体",sans-serif; display:none;top: 55px; left: 470px;}
.area-tab a{ text-decoration:none; margin:0}
.area-tab .h{ width:272px; border-bottom:1px solid #ccc; height:30px; clear:both}
.area-tab .s-tab-t{ float:left; width:57px; background-color:#f3f3f3; text-align:center; height:30px; line-height:30px; color:#3b3b3b; border-right:1px solid #ccc; font-size:14px;}
.area-tab .s-tab-t span{ display:inline-block; cursor:pointer;font-size:14px; overflow:hidden;}
.area-tab .zxbp-close-area{ display:inline; background:url(../images/zxbp-close-area.png) no-repeat left top; margin: 2px; padding: 0px; height: 12px; width: 12px; float: left; display:block; cursor:pointer; margin-left: 16px;margin-top: 9px;}
.area-tab .s-tab-b li a.current{font-weight:normal;background-color:#9cd2ff;color:#404040;text-decoration: none;}
.area-tab .current{ background-color:#fff; font-weight:bold; color:#0066cc;}
.area-tab .s-tab-b{ padding:8px 5px; display:none; white-space: nowrap; clear:both}
.area-tab .s-tab-b .panel-item { color: #404040;white-space: nowrap;}
.area-tab .s-tab-b dl.panel-category {background-color: #fff;width: 265px;}
.area-tab .s-tab-b .panel-category dt {color: #0066cc;font-size: 14px;}
.area-tab .s-tab-b .panel-category dd{ clear:both}
.area-tab .s-tab-b li{ float:left;  display:inline-block;white-space: nowrap; margin-bottom:10px;}
.area-tab .s-tab-b li a{ display:inline-block; text-align:center; padding:1px 12px;font-size: 12px; margin:0 0 0 0;white-space: nowrap; line-height:13px;height:13px; vertical-align:middle}
.area-tab .s-tab-b li a:hover{background-color:#9cd2ff;color:#404040;text-decoration: none;font-size: 12px;margin:0 0 0 0；}